* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.column_icon {
    float: none;
    display: inline-block;
    width: 16%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.footer_class{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    position: fixed; 
}

.icons{
    height: 30px;
}

@media screen and (max-width: 500px) {
    .column_icon {
        width: 100%;
    }
}
